@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Poppinns', sans-serif;
    min-height: 100vh;
    background-color: rgb(154, 103, 206);
    background-image: url('https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-top: 90px;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
}

.time-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    color: #fff;
    font-family: monospace;
}

.time-element {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.time-element p {
    font-size: 48px;
}

.time-element i {
    font-style: normal;
    color: rgb(230, 230, 230);
    font-size: 22px;
}

.popular-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    z-index: 999;
    width: 160px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-style: normal;
    color: rgb(230, 230, 230);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.6);
}

.btn:active {
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    transition: all 1s ease;
}

input {
    margin: 140px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 5px 10px;
    background-color: rgb(235, 235, 235);
    font-size: 14px;
}